//@import "animateCSS";
@import "normalize";

$tablet: "880px";
$desctop: "1024px";

$baclkround: #ffffff;
$white: #ffffff;
$fieldColor: #cfd8dc;
$selectColor: #cfd8dc;
$inputColor: #f3f3f3;
$buttonColor: #7b8d93;
$textColor: #888888;
$borderColor: #ebebed;

$greenSquare: #00e871;
$redSquare: #e85a5f;
$blueSquare: #42d8e8;

$messageColor:#898989;

@mixin mQ($arg) {
  @media screen and (min-width: $arg) {
    @content;
  }
}

@mixin print(){
  @media print {
    @content
  }
}
